.background{
    background-color: aqua;
    margin: 0;
    padding: 0;
    text-align: center;
}
.quote_box{
  width: 40%;
  height: 100%;
  background-color: aliceblue;
  margin-left: 28%;
  margin-top: 270px;
  border-style: solid;
  border-radius: 5px;
}
.quote{
    font-size: 33px;
    font-family: 'Times New Roman', Times, serif;
  
}

.author{
    text-align: right;
    margin-right: 5px;
    font-size: 34px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.social_button{
    margin-left: 0px;
}
.button{
float: left;
font-size: 30px;
margin-right: 5px;
margin-left:0px;
}
 .btn{
 float: right;
 margin-right: 0px;
 margin-top: 7px;
 }